<% provide(:title, '学生一覧') %>
<h1>学生一覧</h1>
<%= search_form_for @search do |f| %>
  <%= f.label :name, '名前' %>
  <%= f.text_field :user_name_cont %>
  <div>
    <%= f.submit '検索する' %>
  </div>
<% end %>


<ul class="students">
  <%= render @students %>
</ul>

