<% provide(:title, '学生一覧') %>
<div class="content">
  <h1>学生一覧</h1>
  <div class="row">
    <div class="col-md-12">
      <%= search_form_for @search do |f| %>
        <%= f.label :name, '名前' %>
        <%= f.text_field :user_name_cont %>

        <%= f.label :skill, 'スキル' %>
        <div class="popular">
          人気スキル:
          <% Student.skill_counts.most_used(7).each do |skill| %>
            <%= link_to skill, :controller => "students", :action => "index", q: {skills_name_cont: skill.name} %>
          <% end %>
        </div>
        <%= f.text_field :skills_name_cont %>

        <%= f.label :personality, 'パーソナリティ' %>
        <div class="popular">
          人気パーソナリティ:
          <% Student.personality_counts.most_used(7).each do |personality| %>
            <%= link_to personality, :controller => "students", :action => "index", q: {personalities_name_cont: personality.name} %>
          <% end %>
        </div>
        <%= f.text_field :personalities_name_cont %>
        <div>
          <%= f.submit '検索する', class: "btn btn-primary"%>
        </div>
      </div>
    </div>
  <% end %>

  <%= will_paginate @students %>

  <ul class="students">
    <%= render @students %>
  </ul>

  <%= will_paginate @students %>
</div>