<% provide(:title, @student.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1 class="">
        <%= image_tag @student.image.thumb.url, :class => "profile_img" %>
        <%= @student.name %>
      </h1>
      <p>
        学籍番号：<%= @student.s_class %>
      </p>
      <p>
        クラス記号：<%= @student.s_code %>
      </p>
      <p>
        出席番号：<%= @student.s_no %>
      </p>
      <p>
        <%= link_to "お気に入り登録", add_student_path(@student), method: :post %>
      </p>
    </section>
    <section class="work">
      <h2>自己紹介</h2>
      <h2>作品情報</h2>
      <p>
        <%= link_to @product.name, product_path(@product) %>
      </p>
    </section>
    <section class="access">
    </section>
  </aside>
</div>