<% provide(:title, @user.name) %>

<div class="content">
  <div class="row">
    <div class="col-sm-3">
      <div class="user-info">
        <div class="basic-info">
          <h2 class="user-image">
            <%= image_tag(@user.image.url(:profile), :size  => "165x165") %>
          </h2>
          <ul>
            <li class="user-name"><%= @user.name %></li>
              <%= render partial: "users/student", locals: {student: @student} %>
          </ul>
        </div>
        <%= render partial: "tags", locals: {student: @student} %>
      </div>
    </div>
    <div class="col-sm-9">
      <%= render partial: "users/student_detail", locals: {appeals: @user.appeals} %>
    </div>
  </div>
</div>