<li>東京<%= @student.exhibit_code %></li>
<li>クラス：<%= @student.s_class %> </li>
<li>学籍番号： <%= @student.s_code %></li>
<li>出席番号： <%= @student.s_no %></li>
<div class="navi">
  <%= link_to "場所を確認する", "/rooms/257?exhibit_code=#{@student.exhibit_code}" %>
</div>
<% if client? %>
  <div class="favorite">
    <% unless @favorite %>
      <%= link_to "お気に入り登録する", add_student_path(student), method: :post %>
    <% else %>
      <%= link_to "お気に入りを解除する", favorite_path(@favorite), method: :delete %>
    <% end %>
  </div>
  <div class="favorite">
    <% unless @review %>
      <%= link_to "この学生を評価する", review_student_path(student), method: :get %>
    <% else %>
      <%= link_to "評価を確認する", review_student_path %>
    <% end %>
  </div>
<% end %>
