<% if student? %>
  <div class="tags">
    <h3>登録タグ</h3>
      <% if @student == current_user.student %>
        <div class="to_edit"><%= link_to "タグを編集する", edit_user_path %></div>
      <% end %>
      <!-- スキルタグ -->
      <div>
        <% if @student.skill_list.empty? && @student.personality_list.empty? %>
          <p>タグは登録されていません。</p>
        <% end %>
        <% @student.skill_list.each do |skill| %>
          <div class="tag skill"><%= link_to skill, :controller => "students", :action => "index", q: {skills_name_cont: skill} %></div>
        <% end %>
        <!-- パーソナリティタグ -->
        <% @student.personality_list.each do |personality| %>
          <div class="tag personality"><%= link_to personality, :controller => "students", :action => "index", q: {pertonalities_name_cont: personality} %></div>
        <% end %>
      </div>
    </div>
<% end %>


<% if client? %>
  <div class="tags">
    <h3>求人タグ</h3>
    <% if @client == current_user.client %>
    <% end %>
    <!-- スキルタグ -->
    <% if @client.skill_list.empty? && @client.personality_list.empty? %>
      <p>タグは登録されていません。</p>
    <% end %>
    <div>
      <% @client.skill_list.each do |skill| %>
        <div class="tag skill">
          <%= link_to skill, :controller => "students", :action => "index", q: {skills_name_cont: skill} %>
        </div>
      <% end %>
      <!-- 企業風土タグ -->
      <% @client.personality_list.each do |personality| %>
        <div class="tag personality">
          <%= link_to personality, :controller => "students", :action => "index", q: {pertonalities_name_cont: personality} %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="tags">
    <h3>企業風土</h3>
    <!-- 企業風土タグ -->
    <% if @client.system_list.empty? %>
      <p>タグは登録されていません。</p>
    <% end %>
      <div>
        <% @client.system_list.each do |system| %>
          <div class="tag system">
            <%= system %>
          </div>
        <% end %>
      </div>
  </div>
  <div><%= link_to "タグを編集する", edit_user_path %></div>
<% end %>