<% provide(:title, "個人情報変更") %>
<h1>個人情報変更</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <h2>タグ編集</h2>
  <!-- student -->
  <% if student? %>
    <% @student = @user.student %>
    <%= form_for(@student) do |f| %>
      <%= f.label :skill_list, "スキル・特技登録（カンマ区切り）" %><br>
      <%= text_field_tag 'student[skill_list]', @student.skill_list.join(',') %>

      <%= f.label :personality_list, "パーソナリティ登録" %><br>
      <%= text_field_tag 'student[personality_list]', @student.personality_list.join(',') %>

      <%= f.submit "更新", class: "btn btn-primary" %>
    <% end %>
  <% end %>

  <!-- client -->
  <% if client? %>
    <% @client = @user.client %>
    <%= form_for(@client) do |f| %>
      <%= f.label :skill_list, "欲しいスキル（カンマ区切り）" %><br>
      <%= text_field_tag 'client[skill_list]', @client.skill_list.join(',') %>
      <div>
        おすすめのスキル:
        <% Student.skill_counts.most_used(7).each do |skill| %>
          <%= skill %>
        <% end %>
      </div>
      <%= f.label :skill_list, "企業風土" %><br>
      <%= text_field_tag 'client[system_list]', @client.system_list.join(',') %>
      <%= f.submit "更新", class: "btn btn-primary" %>
    <% end %>
  <% end %>
  <h2>基本情報編集</h2>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.hidden_field :user_attr %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-controle' %>

      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-controle' %>

      <%= f.label :image, "イメージ画像" %>
      <%= f.file_field :image %>

      <%= f.submit "更新", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
