<% provide(:title, "新規登録") %>
<h1>新規登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-controle' %>

      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-controle' %>

      <% if params[:attr] == 'student' %>
        <%= f.hidden_field :user_attr, :value => 1 %>
        <%= f.fields_for :student, @user.student do |sf| %>
          <%= render partial: "form_student", locals: {sf: sf} %>
        <% end %>
      <% else %>
        <%= f.hidden_field :user_attr, :value => 2 %>
        <%= f.fields_for :client, @user.client do |cf| %>
          <%= render partial: "form_client", locals: {cf: cf} %>
        <% end %>
      <% end %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-controle' %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-controle' %>

      <%= f.label :image, "イメージ画像" %>
      <%= f.file_field :image %>

      <%= f.submit "アカウント登録", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
