<% provide(:title, "新規登録") %>
<h1>新規登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, url: user_path do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-controle' %>

      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-controle' %>

      <% if params[:attr] == 'student' %>
        <%= f.hidden_field :user_attr, :value => 1 %>
        <%= f.fields_for :student, @user.student do |sf| %>
          <%= render partial: "form_student", locals: {sf: sf} %>
        <% end %>
      <% else %>
        <%= f.hidden_field :user_attr, :value => 2 %>
        <%= f.fields_for :client, @user.client do |cf| %>
          <%= render partial: "form_client", locals: {cf: cf} %>
        <% end %>

        <%= f.label :skill_list, "欲しいスキル(カンマ区切りで複数登録)" %>
        <%= text_field_tag "user[client_attributes][skill_list]", @user.client.skill_list.join(',') %>
        <div>
          おすすめスキル:
          <% Student.skill_counts.most_used(7).each do |skill| %>
            <%= skill %>
          <% end %>
        </div>

        <%= f.label :system_list, "企業風土" %>
        <%= text_field_tag "user[client_attributes][system_list]", @user.client.system_list.join(',') %>
        <div>
          最近登録されたタグ:
          <% Client.system_counts[0, 7].reverse.each do |system| %>
            <%= system %>
          <% end %>
        </div>
      <% end %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-controle' %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-controle' %>

      <%= f.label :image, "イメージ画像" %>
      <%= f.file_field :image %>

      <%= f.submit "アカウント登録", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
