<% provide(:title, @user.name) %>

<div class="content">
  <div class="row">
    <div class="col-sm-3">
      <div class="user-info">
        <div class="basic-info">
          <h2 class="user-image">
          </h2>
          <ul>
            <li class="user-name"><%= @user.name %></li>
            <% if @student %>
              <%= render partial: "student", locals: {student: @student} %>
            <% end %>
            <% if @client %>
              <%= render partial: "client", locals: {client: @client} %>
            <% end %>
          </ul>
        </div>
        <% if @student %>
          <%= render partial: "tags", locals: {student: @student} %>
        <% end %>
        <% if @client %>
          <%= render partial: "tags", locals: {client: @client} %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-9">
      <% if @student %>
        <%= render partial: "student_detail", locals: {appeals: @user.appeals} %>
      <% end %>
      <% if @client %>
        <%= render partial: "client_profile", locals: {student: @student} %>
      <% end %>
    </div>
  </div>
</div>