<% provide(:title, @user.name) %>

<div class="content">
  <div class="row">
    <div class="col-sm-3">
      <div class="user-info">
        <div class="basic-info">
          <h2 class="user-image">
            <%= image_tag(@user.image.url(:profile), :size  => "165x165") %>
          </h2>
          <ul>
            <li class="user-name"><%= @user.name %></li>
            <% if @student %>
              <%= render partial: "student", locals: {student: @student} %>
            <% end %>
            <% if @client %>
              <%= render partial: "client", locals: {client: @client} %>
            <% end %>
          </ul>
        </div>
        <% if @student %>
          <%= render partial: "tags", locals: {student: @student} %>
        <% end %>
        <% if @client %>
          <%= render partial: "tags", locals: {client: @client} %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-9">
      <% unless @reviews.empty? %>
        <div class="review">
          <div class="box favorites">
            <h2>評価を頂いた企業</h2>
            <div class="row students">
            <% @reviews.each do |rev| %>
              <div class="col-xs-2">
                <% client = rev.client %>
                <div class="img"><%= link_to image_tag(client.user.image.thumb.url, size:70), client %></div>
                <span class="name"><%= link_to client.user.name, client %></span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% end %>
      <% if @student %>
        <%= render partial: "student_detail", locals: {appeals: @user.appeals} %>
      <% end %>
      <% if @client %>
        <%= render partial: "client_profile", locals: {student: @student} %>
      <% end %>
    </div>
  </div>
</div>