<% provide(:title, "アピール項目編集") %>
<h1>フリーアピール編集</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3 user-form">
    <%= form_tag user_appeal_path, method: :put do %>
      <% @appeals.each do |appeal| %>
        <%= fields_for "appeals[]", appeal do |fa| %>
          <%= fa.label :caption, "アピール項目" %>
          <%= fa.text_field :caption %>
          <%= fa.label :caption, "アピール内容" %>
          <%= fa.text_area :body, rows: 5  %>
          <br />
        <% end %>
      <% end %>
      <%= submit_tag "更新", class: "btn btn-primary" %>
      <div class="form-sub-mes">
        <%= link_to "追加はこちらから", new_user_appeal_path %>
      </div>
    <% end %>
  </div>
</div>
