<% provide(:title, @product.name) %>
<div class="content">
  <div class="row">
    <div class="col-md-4">
      <div class="product">
        <% if current_user && @student == current_user.student %>
          <p><%= link_to "作品情報を編集する", edit_product_path %></p>
        <% end %>
        <h2><%= @product.name %></h2>
        <div class="product-image">
          <%= image_tag(@student.product.image.url, :height => 150, :class => "frame") %>
        </div>
        <h3>作品概要</h3>
        <p><%= simple_format(@product.about) %></p>
        <h3>アピールポイント</h3>
        <p><%= simple_format(@product.appeal) %></p>
        <h3>開発環境</h3>
        <p><%= simple_format(@product.devinfo) %></p>
        <h3>関連URL</h3>
        <p><%= link_to @product.site_url, @product.site_url %><p>
        <div class="product-user">
          <div class="prof">
            <div class="image">
              <%= link_to (image_tag(@student.user.image.url(:thumb), :class => "frame")) %>
            </div>
            <div class="name">
              <%= link_to @student.user.name, student_path(@student) %><br>
              東京<%= @student.exhibit_code %>
            </div>
          </div>
          <div class="about">
            <% if !@student.user.appeals.empty? %>
              <%= @student.user.appeals.first.body %>
            <% else %>
              プロフィールは登録されていません。
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>