<% provide(:title, @product.name) %>
<div class="content">
  <div class="row">
    <% if current_user && @student == current_user.student %>
      <div class="tar"><%= link_to "作品情報を編集する", edit_product_path %></div>
    <% end %>
    <div class="product">
      <div class="col-md-4">
        <div class="product-info">
          <div class="product-image">
            <%= image_tag(@student.product.image.url, :height => 200, :class => "frame") %>
          </div>
          <h2>東京<%= @student.exhibit_code %><br><%= @product.name %></h2>
        </div>
      </div>
      <div class="col-md-8">
        <div class="product-detail">
          <h3>作品概要</h3>
          <%= simple_format(@product.about) %>
          <h3>アピールポイント</h3>
          <%= simple_format(@product.appeal) %>
          <h3>開発環境</h3>
          <%= simple_format(@product.devinfo) %>
          <h3>関連URL</h3>
          <p><%= link_to @product.site_url, @product.site_url %></p>
          <h3>製作者情報</h3>
          <div class="product-user">
            <div class="prof">
              <div class="image">
                <%= link_to (image_tag(@student.user.image.url(:thumb), :class => "frame")) %>
              </div>
              <div class="name">
                <%= link_to @student.user.name, student_path(@student) %><br>
              </div>
            </div>
            <div class="about">
              <% if !@student.user.appeals.empty? %>
                <%= @student.user.appeals.first.body %>
              <% else %>
                プロフィールは登録されていません。
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>