<% provide(:title, "評価詳細") %>
<h1><%= @client.c_name %> <%= @client.user.name %>さんからの評価</h1>
<h2>企画力：<%= @review.plan_point%> /100点</h2>
<h2>コンセプト：<%= @review.concept_point %> /100点</h2>
<h2>実装力：<%= @review.impl_point %> /100点</h2>
<h3>コメント：<%= @review.comment %></h3>
<p><%= link_to "企業情報を見る", @client %></p>
<p><%= link_to "戻る", :back %></p>
