<header>
  <div class="container">
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Prenavi", root_path, id: "logo", class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if !logged_in? %>
              <li><%= link_to "トップ", root_path %></li>
            <% end %>
            <li><%= link_to "学生検索", students_path %></li>
            <% if logged_in? %>
              <li><%= link_to "フロア検索", rooms_path %></li>
              <li><%= link_to "マイページ", profile_path %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  アカウント <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <% if student? %>
                    <li><%= link_to "就プレ作品情報", current_user.student.product %></li>
                    <li><%= link_to "フリーアピール編集", edit_user_appeal_path %></li>
                  <% end %>
                  <li><%= link_to "基本情報設定", profile_edit_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "ログアウト", logout_path, method: "delete" %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "企業新規登録", signup_path, attr: "client" %></li>
              <li><%= link_to "学生新規登録", signup_path, attr: "student" %></li>
              <li><%= link_to "ログイン", login_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>